<div class="container">
  <h1>Editar o usuário: {{user.name}}</h1>
  <form action="/users/update" method="POST">
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
      <label for="name">Nome: </label>
      <input type="text" name="name" id="name" placeholder="Digite o seu nome a ser editado..." value="{{user.name}}">
    </div>

    <div class="form-control">
      <label for="occupation">Profissão</label>
      <input type="text" name="occupation" id="occupation" placeholder="Digite a profissão a ser editada..." value="{{user.occupation}}">
    </div>

    <div class="checkbox-container">
      {{#if user.newsLetter}}
        <input type="checkbox" name="newsLetter" id="newsLetter" checked>
      {{else}}
        <input type="checkbox" name="newsLetter" id="newsLetter">
      {{/if}}
      <label for="newsLetter">Enviar promoções? </label>
    </div>

    <input type="submit" value="Atualizar">

  </form>
  <div class="address-container">
    <form action="/address/create" method="post">
      
      <input type="hidden" name="UserId" value="{{user.id}}">

      <div class="form-control">
        <label for="street">Rua: </label>
        <input type="text" name="street" id="street" placeholder="Digite o nome da sua rua...">
      </div>

      <div class="form-control">
        <label for="number">Número</label>
        <input type="text" name="number" id="number" placeholder="Digite o número da sua residencia...">
      </div>

      <div class="form-control">
        <label for="city">Cidade</label>
        <input type="text" name="city" id="city" placeholder="Digite a sua cidade...">
      </div>

      <input type="submit" value="Incluir endereço">

    </form>
  </div>
</div>

